<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AgbUsername>Username</AgbUsername>
  <AgbPassword>Password</AgbPassword>
  <WindowSizeX>300</WindowSizeX>
  <WindowSizeY>300</WindowSizeY>
  <RefreshPause>50</RefreshPause>
  <DiabloDirectory>C:\Program Files\Diablo II\</DiabloDirectory>
  <Key></Key>
  <PathHighlights>
    <PathHighlight>
      <Name>Den of Evil</Name>
      <AreaLevel>BloodMoor</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>0</Id>
          <Type>Warp</Type>
        </PresetUnit>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>1</Id>
          <Type>Warp</Type>
        </PresetUnit>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>2</Id>
          <Type>Warp</Type>
        </PresetUnit>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>3</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Rakishnu</Name>
      <AreaLevel>StonyField</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>17</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Inifus tree</Name>
      <AreaLevel>DarkWood</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>30</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Black Marsh</Name>
      <AreaLevel>BlackMarsh</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>10</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tower Cellar Level 1</Name>
      <AreaLevel>TowerCellarLevel1</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>9</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tower Cellar Level 2</Name>
      <AreaLevel>TowerCellarLevel2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>9</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tower Cellar Level 3</Name>
      <AreaLevel>TowerCellarLevel3</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>9</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tower Cellar Level 4</Name>
      <AreaLevel>TowerCellarLevel4</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>9</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to CatacombsLevel3</Name>
      <AreaLevel>CatacombsLevel2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>18</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to CatacombsLevel4</Name>
      <AreaLevel>CatacombsLevel3</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>18</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Summoner</Name>
      <AreaLevel>ArcaneSanctuary</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>357</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Mephisto</Name>
      <AreaLevel>DuranceOfHateLevel2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>67</Id>
          <Type>Warp</Type>
        </PresetUnit>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>68</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Izual</Name>
      <AreaLevel>PlainsOfDespair</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>256</Id>
          <Type>NPC</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to TheWorldStoneKeepLevel3</Name>
      <AreaLevel>TheWorldStoneKeepLevel2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>82</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Throne</Name>
      <AreaLevel>TheWorldStoneKeepLevel3</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>82</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Baal</Name>
      <AreaLevel>ThroneOfDestruction</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>563</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Sewers Level 1 Act 2</Name>
      <AreaLevel>SewersLevel1Act2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>23</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Sewers Level 2 Act 2</Name>
      <AreaLevel>SewersLevel2Act2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>23</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Sewers Level 3 Act 2</Name>
      <AreaLevel>SewersLevel3Act2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>355</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Maggot Lair Quest</Name>
      <AreaLevel>FarOasis</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>47</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Maggot Lair Level 1</Name>
      <AreaLevel>MaggotLairLevel1</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>49</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Maggot Lair Level 2</Name>
      <AreaLevel>MaggotLairLevel2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>49</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Maggot Lair Level 3</Name>
      <AreaLevel>MaggotLairLevel3</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>356</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Claw Viper Temple (AreaLevel is obviously wrong, known issue)</Name>
      <AreaLevel>HallsOfTheDeadLevel3</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>46</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tal Rasha's Tomb 1 to Orifice</Name>
      <AreaLevel>TalRashasTomb1</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>152</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tal Rasha's Tomb 2 to Orifice</Name>
      <AreaLevel>TalRashasTomb2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>152</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tal Rasha's Tomb 3 to Orifice</Name>
      <AreaLevel>TalRashasTomb3</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>152</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tal Rasha's Tomb 4 to Orifice</Name>
      <AreaLevel>TalRashasTomb4</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>152</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tal Rasha's Tomb 5 to Orifice</Name>
      <AreaLevel>TalRashasTomb5</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>152</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tal Rasha's Tomb 6 to Orifice</Name>
      <AreaLevel>TalRashasTomb6</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>152</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Tal Rasha's Tomb 7 to Orifice</Name>
      <AreaLevel>TalRashasTomb7</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>152</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>Chaos Sanctuary to Seal 1</Name>
      <AreaLevel>ChaosSanctuary</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>395</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to HallsOfTheDeadLevel2</Name>
      <AreaLevel>HallsOfTheDeadLevel1</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>46</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to HallsOfTheDeadLevel3</Name>
      <AreaLevel>HallsOfTheDeadLevel2</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>46</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Horadric Cube's Chest (AreaLevel is obviously wrong, known issue)</Name>
      <AreaLevel>Unknown60</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>354</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>16711935</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Frozen Trail</Name>
      <AreaLevel>CrystallinePassage</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>75</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to ArreatSummit</Name>
      <AreaLevel>TheAncientsWay</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>74</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to HellForge</Name>
      <AreaLevel>RiverOfFlame</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>376</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Halls of Anguish</Name>
      <AreaLevel>NihlathaksTemple</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>76</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Halls of Pain</Name>
      <AreaLevel>HallsOfAnguish</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>77</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Halls of Vaught</Name>
      <AreaLevel>HallsOfPain</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>77</Id>
          <Type>Warp</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
    <PathHighlight>
      <Name>to Nihlathak</Name>
      <AreaLevel>HallsOfVaught</AreaLevel>
      <Exits>
        <PresetUnit>
          <X>0</X>
          <Y>0</Y>
          <OffsetX>0</OffsetX>
          <OffsetY>0</OffsetY>
          <Id>462</Id>
          <Type>GameObject</Type>
        </PresetUnit>
      </Exits>
      <Color>1671435</Color>
      <UseTeleport>true</UseTeleport>
    </PathHighlight>
  </PathHighlights>
</Config>